body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
:root {
    --brand-color: rgb(33, 150, 243);
}
hr {
    opacity: 0.2;
}
h1 {
    color: white;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    font-size: 30px;
}
h3 {
    color: black;
}
a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}
a.menu {
    font-size: 15px;
    font-weight: 600;
}
    a.menu:hover, a.menu-footer:hover, a.address:hover {
        color: var(--brand-color);
    }
    a.menu:focus, .button-menu:focus, .button:focus {
        color: rgb(85, 72, 99);
    }
.button, .button-menu:hover {
    color: white;
    background-color: var(--brand-color);
    border: 5px solid var(--brand-color);
    text-align: center;
    font-weight: 400;
}
.button-menu {
    border: 1px solid black;
}
a.menu-footer {
    color: gray;
}
.logotype-1 {
    color: black;
}
.logotype-2 {
    color: white;
}
.logotype-1, .logotype-2 {
    font-size: x-large;
    font-weight: 700;
}
.fon {
    width: 100%;
    background-color: #2f303a;
}
.button-menu {
    text-align: center;
    font-weight: 500;
}
.text, .profesion {
    color: grey;
}
.name {
    font-weight: 700;
}
.name, .profesion {
    text-align: center;
}
.tovar {
    font-weight: 700;
}
.address {
    color: gray;
}
.footer {
    background-color: rgb(47, 48, 58);
}